<app-admin-navbar></app-admin-navbar>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Item</title>
        <link rel='stylesheet' type="text/css" href="add-item.component.css">
        <script src="http://kit.fontawesome.com/67c66657c7.js"></script>
    </head>
    <body>
        <section></section>
        <div class="container">
            <form #form=ngForm>
                <h1>Add Item</h1>
                <br>
                <div class="id">
                    <input type="text" placeholder="Food Name" name="foodName" ngModel>
                    <i class="far fa-user"></i>
                </div>

                <div class="id">
                    <input type="text" placeholder="Food Price" name="foodPrice" ngModel>
                </div>

                <div class="id">
                    <input type="number" placeholder="Food Quantity" name="foodQuantity" ngModel>
                </div>
                
               <input type="image" cols="15" rows="5" placeholder="Food Image" name="foodImage" ngModel>
               
               <input type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>

