<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>FoodHour</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/customerhome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Send Feedbacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">LogOut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addcart"><button style='font-size:24px'><i class="fa fa-shopping-cart"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/websocket/index.html"><button style='font-size:24px'><i class='fas fa-comment'></i></button></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

