<app-customer-navbar></app-customer-navbar>

<link rel="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"> Order ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Price</th>
        <th scope="col">Total</th>
        <th scope="col">Delete Item</th>
        <th scope="col">Make Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>001592</td>
        <td>1</td>
        <td>$2.50</td>
        <td>$2.50</td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
        <td><button class="btn"><i class="fa fa-credit-card"></i></button></td>

      </tr>
      
      
    </tbody>
  </table>

