<app-customer-navbar></app-customer-navbar>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/1332013247/photo/tasty-hamburger-with-french-fries.jpg?b=1&s=170667a&w=0&k=20&c=quLpaNbLuuAZT6GD2gNwlHej0DANXUYtbvKJPpct1nY=" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Burger</li>
                <li>Item Price - $2.50</li>
                <li>Available Quantity - 20</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Burger</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$2.50</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                  
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__480.jpg" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Pizza</li>
                <li>Item Price - $8</li>
                <li>Available Quantity - 10</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Pizza</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$8</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?height=418&t=1430942591&width=800" width="100%" height="225"  role="img"  >
            <div class="card-body">
             
                <ul class="card-text">
                  <li>Item Name - Pasta</li>
                  <li>Item Price - $10</li>
                  <li>Available Quantity - 20</li>
                </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Pasta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$10</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.australianeggs.org.au/assets/Uploads/AusEggs_WED2020-x-Adam-Liaw_Egg-hoppers2_lores.jpg" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Hoppers</li>
                <li>Item Price - $0.50</li>
                <li>Available Quantity - 20</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Hoppers</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$0.50</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://simshomekitchen.com/wp-content/uploads/2020/11/jumbo-chinese-vegetable-spring-roll-2-scaled.jpg" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Spring Rolls</li>
                <li>Item Price - $0.80</li>
                <li>Available Quantity - 28</li>
              </ul>
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Spring Rolls</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$0.80</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i0.wp.com/www.indianrecipeinfo.com/wp-content/uploads/2011/12/Tandoori-Roti.jpg" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Roti</li>
                <li>Item Price - $1</li>
                <li>Available Quantity - 30</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Roti</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$1</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/american-shrimp-fried-rice-served-with-chili-fish-sauce-thai-food_1150-26584.jpg?w=2000" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Fried Rice</li>
                <li>Item Price - $10.50</li>
                <li>Available Quantity - 15</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Fried Rice</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$10.50</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cookerybay.com/wp-content/uploads/2021/06/Chicken-Kottu.jpg" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Kottu</li>
                <li>Item Price - $11</li>
                <li>Available Quantity - 15</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Kottu</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$11</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/147914856/photo/a-plate-of-samosas-and-dipping-sauce.jpg?s=612x612&w=0&k=20&c=VfNqGKzdRN1rPa4f9KSAMlnjUZlel0v-_di2Ah_U6QY=" width="100%" height="225"  role="img"  >
            <div class="card-body">
              <ul class="card-text">
                <li>Item Name - Samosa</li>
                <li>Item Price - $8</li>
                <li>Available Quantity - 25</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Samosa</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">$8</button>
                  <a  href="/addcart"><button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
