<app-user-navbar></app-user-navbar>



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <br><br><br><br><br><br>
    <div class="login-box">
      <h1>Login</h1>
      <form (submit)="login(form)" #form=ngForm>
        <label>Email</label>
        <input type="email" placeholder="Email" name="email" ngModel/>
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" ngModel/>
        <br>
        <input type="submit"  value="Submit" />
        <!--<button type="submit">Submit</button>-->
     </form>
    </div>
    <p class="para-2">
        Not have an Account? <a routerLink="/signup">Sign Up Here</a>
        <br>
        Are you an Admin? <a routerLink="/adminlogin">Admin Login</a>
      </p>
    
  </body>
</html>

