<app-admin-navbar></app-admin-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col"> Item Image</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Status</th>
        <th scope="col"> Add Quantity</th>
        <th scope="col">Edit Item</th>
        <th scope="col">Delete Item</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img src="https://media.istockphoto.com/id/1332013247/photo/tasty-hamburger-with-french-fries.jpg?b=1&s=170667a&w=0&k=20&c=quLpaNbLuuAZT6GD2gNwlHej0DANXUYtbvKJPpct1nY="  width="50%" height="100"></td>
        <td>Burger</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__480.jpg" width="50%" height="100"></td>
        <td>Pizza</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td><img src="https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?height=418&t=1430942591&width=800" width="50%" height="100"></td>
        <td>Pasta</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td><img src="https://www.australianeggs.org.au/assets/Uploads/AusEggs_WED2020-x-Adam-Liaw_Egg-hoppers2_lores.jpg" width="50%" height="100"></td>
        <td>Hoppers</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td><img src="https://img.freepik.com/free-photo/american-shrimp-fried-rice-served-with-chili-fish-sauce-thai-food_1150-26584.jpg?w=2000" width="50%" height="100"></td>
        <td>Fried Rice</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td><img src="https://media.istockphoto.com/id/147914856/photo/a-plate-of-samosas-and-dipping-sauce.jpg?s=612x612&w=0&k=20&c=VfNqGKzdRN1rPa4f9KSAMlnjUZlel0v-_di2Ah_U6QY=" width="50%" height="100"></td>
        <td>Samosa</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td><img src="https://cookerybay.com/wp-content/uploads/2021/06/Chicken-Kottu.jpg" width="50%" height="100"></td>
        <td>Kottu</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td><img src="https://simshomekitchen.com/wp-content/uploads/2020/11/jumbo-chinese-vegetable-spring-roll-2-scaled.jpg" width="50%" height="100"></td>
        <td>Spring Rolls</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td><img src="https://i0.wp.com/www.indianrecipeinfo.com/wp-content/uploads/2011/12/Tandoori-Roti.jpg" width="50%" height="100"></td>
        <td>Roti</td>
        <td>Available</td>
        <td><button>+</button></td>
        <td><button class="btn"><i class="fa fa-edit"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
      </tr>

    </tbody>
  </table>
