<app-user-navbar></app-user-navbar>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <br>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's only takes a minute</h4>
      <form (submit)="signup(form)" #form=ngForm>
        <label>Name</label>
        <input type="text" placeholder="Enter your Name" name="name" ngModel/>
        <label>Email</label>
        <input type="email" placeholder="Enter your Email" name="email" ngModel/>
        <label>Mobile Number</label>
        <input type="text" placeholder="Enter your Mobile Number" name="mobile" ngModel/>
        <label>Password</label>
        <input type="password" placeholder="Enter your Password" name="password" ngModel />
        <label>Confirm Password</label>
        <input type="password" placeholder="Re-Enter your Password" name="cpassword" ngModel/>
        <input type="submit" value="Submit" />
      </form>
      <p class="para-2">
        Already have an account? <a href="/login">Login here</a>
      </p>

    </div>
    
  </body>
</html>
