<app-admin-navbar></app-admin-navbar>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Item</title>
        <link rel='stylesheet' type="text/css" href="edit-item.component.css">
        <script src="http://kit.fontawesome.com/67c66657c7.js"></script>
    </head>
    <body>
        <section></section>
        <div class="container">
            <form>
                <h1>Edit Item</h1>
                <br>
                <div class="id">
                    <input type="text" placeholder="Food Name">
                    <i class="far fa-user"></i>
                </div>

                <div class="id">
                    <input type="text" placeholder="Food Price">
                </div>

                <div class="id">
                    <input type="number" placeholder="Food Quantity">
                </div>

                <textarea cols="15" rows="5" placeholder="Food Image"></textarea>
               
               <button>Edit</button>
            </form>
        </div>
    </body>
</html>



